<div class="text-center">
  <h1>
    Ruby on Rails 6 User Management app
  </h1>
</div>

<hr>
<div class="text-center">
  <h2>Core features:</h2>
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item">Basic authorization via email (Devise)</li>
      <li class="list-group-item">Social log in via Google</li>
      <li class="list-group-item">Social log in via Facebook</li>
      <li class="list-group-item">Social log in via Twitter</li>
      <li class="list-group-item">Social log in via Github</li>
      <li class="list-group-item">Devise confirmable</li>
      <li class="list-group-item">Devise trackable</li>
      <li class="list-group-item">Devise lockable</li>
      <li class="list-group-item">Devise invitable</li>
      <li class="list-group-item">Banning users</li>
      <li class="list-group-item">Deleting users</li>
      <li class="list-group-item">Editing users</li>
      <li class="list-group-item">Managing user roles (admin, teacher, student) without any gems</li>
      <li class="list-group-item">Role-based access to different features (example: only admin can ban a user) without any gems</li>
      <li class="list-group-item">Blocking bot registrations </li>
      <li class="list-group-item">Sending transactional emails in production (Amazon SES)</li>
    </ul>
  </div>
</div>
